@media (max-width: 1399.98px) {
    .container {
        width: 94%;
    }

    .base-menu__ul {
        height: 88px;
    }

    .base-menu__ul-submenu {
        top: 88px;
    }
}

@media (max-width: 1199.98px) {
    .header__contacts-mode {
        display: none;
    }

    .header__contacts-mail {
        padding-right: 60px;
    }

    .base-menu__parent-submenu:last-child {
        flex-shrink: 1;
    }

    .base-menu a {
        font-size: 16px;
    }
}

@media (min-width: 991.98px) {
    .header__topmenu-parent-sub-menu:hover .header__topmenu-ul-sub-menu {
        display: flex;
        opacity: 1;
    }

    .base-menu__parent-submenu:hover .base-menu__ul-submenu {
        display: flex;
        opacity: 1;
        margin-left: -30px;
    }
}

@media (max-width: 991.98px) {
    .header__contacts-mail {
        padding-right: 30px;
    }

    .header__topmenu-marker-mobmenu {
        display: block;
        padding: 5px;
    }

    .header__topmenu {
        height: 40px;
        flex-wrap: wrap;
    }

    .header__topmenu-ul {
        flex-direction: column;
        background-color: #484b53;
        height: auto;
        width: 100%;
        height: 0;
        transition: all 0.5s;
        opacity: 0;
        z-index: 1;
        border-bottom: 4px solid #fff;
        box-shadow: 6px 6px 14px #000;
    }

    .header__topmenu-li {
        height: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header__topmenu-li a {
        display: none;
        width: 100%;
        text-align: center;
    }

    .header__topmenu input[type=checkbox]:checked~.header__topmenu-ul .header__topmenu-li a {
        display: block;
        padding: 10px;
    }

    .header__topmenu input[type=checkbox]:checked~.header__topmenu-ul .header__topmenu-li {
        height: auto;
    }

    .header__topmenu input[type=checkbox]:checked~.header__topmenu-ul .header__topmenu-li:active {
        background-color: #dd3f45 !important;
    }

    .header__topmenu input[type=checkbox]:checked~.header__topmenu-ul {
        height: auto;
        opacity: 1;
        position: absolute;
        top: 40px;
        left: 0px;
    }

    .header__topmenu__marker-sub-menu {
        display: none;
    }

    .header__adaptive-phone {
        display: flex;
    }

    .header__search-input {
        min-width: 170px;
        width: 170px;
    }

    .base-menu {
        width: 100%;
        text-align: center;
    }

    .base-menu__ul {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .base-menu a {
        font-size: 18px;
    }

    .base-menu__li {
        width: 100%;
        flex-basis: auto;
        box-sizing: border-box;
    }

    .base-menu__parent-submenu:first-child {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #71747D;
    }

    .base-menu__parent-submenu:last-child {
        border-left: none;
        border-right: none;
        border-top: 1px solid #71747D;
    }

    .header__line-three .container {
        width: 100%;
    }

    .base-menu__li.active {
        background-color: #DD3F45;
    }

    .base-menu__li {
        padding: 0px 5px;
    }

    .modal__footer {
        justify-content: center;
    }

    .modal__close-in-button {
        width: 60%;
        justify-content: center;
    }

    .modal__footer {
        justify-content: center;
    }

    .modal__close-in-button {
        justify-content: center;
        order: 2;
    }

    .modal__form-buttons {
        flex-direction: column;
    }

    .modal__form-send {
        margin-left: 0px;
        order: 1;
        margin-bottom: 6px;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .header__contacts-phone {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .header__line-one .container {
        flex-wrap: wrap;
    }

    .header__search {
        width: 100%;
        justify-content: center;
        padding: 10px 0px;
    }

    .header__search-input {
        width: 100%;
    }

    .header__topmenu-marker-mobmenu {
        padding-left: 0px;
    }

    .header__adaptive-phone {
        font-weight: bold;
        letter-spacing: 1px;
    }

    .header__contacts-mail {
        display: none;
    }

    .header__line-two .container {
        justify-content: center;
    }

    .base-menu__subicon {
        display: none;
    }

    .modal__form {
        width: 95%;
    }

    .modal__form-policy input:checked+.modal__form-chek-policy:before {
        font-size: 10px;
    }

    .modal__form-chek-policy {
        width: 14px;
    }
}

@media (max-width: 370.98px) {
    .modal__form-policy input:checked+.modal__form-chek-policy:before {
        font-size: 10px;
    }

    .modal__form-chek-policy {
        width: 18px;
    }
}